body{
    background-color: rgb(155, 255, 168);
    padding: 40px;
    font-family: Arial;
    line-height: 1.6rem;
}
.accordian{
    background-color: white;
    padding: 4px 16px;
    margin-bottom: 16px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(2, 39, 10);
    border: solid black 4px;
    cursor: pointer;
}
.question{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.icons{
    margin-right: 16px;
}
.icon.active{
    transform: rotate(180deg);
    transition: transform 0.2s ;
}
.answer{
    color: #666;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}
